<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  
  <title>AlgoMaster</title>
  
</head>

<body>
 


<div style="background-color: #f5f4f4;">
   {{>navbar}}
   <div class="row">
  <header class="col-md-12">
    <!-- Background image -->
    <div class="shadow-lg p-5 mx-2" style="background-color:#f1f0f5; height: 400px">
      <div class="row">
        <div class="col-md-5 col-5 p-4">
          <div class="text-darker">
            <h1 class="mb-3" style="font-size: 80px;">AlgoMaster</h1>
            <h5 class="mb-3">
              <p>
                The ultimate resource to get better in competitive programming.
                </br>Every resource you need at one place.</p>
              </h4>
              <a style="color:#21D192;" class="btn btn-dark text-darker" href="#!" role="button">Join us</a>
          </div>
        </div>
        <div class="col-md-4 col-5 p-3">
          <img class="m-4 pb-3" src="https://codeforces.org/s/55012/images/codeforces-logo-with-telegram.png"
            alt="loading...">
          <img class="m-4 pb-3" src="https://cdn.codechef.com/images/cc-logo.svg" alt="loading...">

        </div>
        <div class="col">
          <div class="pb-3"><img style="height: 150px;" src="https://cdn-icons-png.flaticon.com/512/74/74897.png"
              alt="loading..."></div>
          <div class="pb-1"><img style="height: 150px;" src="https://cdn-icons-png.flaticon.com/128/154/154878.png"
              alt="loading..."></div>
        </div>
      </div>
    </div>
  </header>
  <!-- new section -->
    
  <div class="p-5 m-3 col-11">
    <h1 class="p-3 text-darker" style="text-align: center; ">What you will get?</h1>



    <div class="card-deck m-3 pb-2 ">
      <div class="card shadow-lg">
        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1529071753386-dfb44ff59f69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRlY25vbG9neXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card shadow-lg">
        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHN0cnVjdHVyZWQlMjBjb250ZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card shadow-lg">
        <img class="card-img-top"
          src="https://media.istockphoto.com/photos/cyber-security-it-engineer-working-on-protecting-network-against-picture-id1322517295?b=1&k=20&m=1322517295&s=170667a&w=0&h=x4Kmx8fQytr6VPfuKwE381xf-rfiBFctyXvpb7o5ju8="
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="card-deck m-3 pb-2">
      <div class="card shadow-lg">
        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1543286386-713bdd548da4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZ3Jlc3MlMjBncmFwaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card shadow-lg">
        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card shadow-lg">
        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGltZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>

  </div>

  <!-- carosel section -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h2>See What <b>Our Customers</b> Say About Us</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-sm-6">
                  <div class="testimonial-wrapper">
                    <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante, commodo iacul viverra.</div>
                    <div class="media">
                      <!-- <img src="/examples/images/clients/1.jpg" class="mr-3" alt=""> -->
                      <div class="media-body">
                        <div class="overview">
                          <div class="name"><b>Paula Wilson</b></div>
                          <div class="details">Media Analyst / SkyNet</div>
                          <div class="star-rating">
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                            </ul>
                          </div>
                        </div>										
                      </div>
                    </div>
                  </div>								
                </div>
                <div class="col-sm-6">
                  <div class="testimonial-wrapper">
                    <div class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus, metus id mi gravida.</div>
                    <div class="media">
                      <!-- <img src="/examples/images/clients/2.jpg" class="mr-3" alt=""> -->
                      <div class="media-body">
                        <div class="overview">
                          <div class="name"><b>Antonio Moreno</b></div>
                          <div class="details">Web Developer / SoftBee</div>
                          <div class="star-rating">
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>								
                </div>
              </div>			
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-6">
                  <div class="testimonial-wrapper">
                    <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante, commodo iacul viverra.</div>
                    <div class="media">
                      <!-- <img src="/examples/images/clients/3.jpg" class="mr-3" alt=""> -->
                      <div class="media-body">
                        <div class="overview">
                          <div class="name"><b>Michael Holz</b></div>
                          <div class="details">Web Developer / DevCorp</div>											
                          <div class="star-rating">
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>								
                </div>
                <div class="col-sm-6">
                  <div class="testimonial-wrapper">
                    <div class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus, metus id mi gravida.</div>
                    <div class="media">
                      <!-- <img src="/examples/images/clients/4.jpg" class="mr-3" alt=""> -->
                      <div class="media-body">
                        <div class="overview">
                          <div class="name"><b>Mary Saveley</b></div>
                          <div class="details">Graphic Designer / MarsMedia</div>
                          <div class="star-rating">
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                          </div>
                        </div>										
                      </div>
                    </div>
                  </div>								
                </div>
              </div>			
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-6">
                  <div class="testimonial-wrapper">
                    <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante, commodo iacul viverra.</div>
                    <div class="media">
                      <!-- <img src="/examples/images/clients/5.jpg" class="mr-3" alt=""> -->
                      <div class="media-body">
                        <div class="overview">
                          <div class="name"><b>Martin Sommer</b></div>
                          <div class="details">SEO Analyst / RealSearch</div>
                          <div class="star-rating">
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                          </div>
                        </div>										
                      </div>
                    </div>
                  </div>								
                </div>
                <div class="col-sm-6">
                  <div class="testimonial-wrapper">
                    <div class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus, metus id mi gravida.</div>
                    <div class="media">
                      <!-- <img src="/examples/images/clients/6.jpg" class="mr-3" alt=""> -->
                      <div class="media-body">
                        <div class="overview">
                          <div class="name"><b>John Williams</b></div>
                          <div class="details">Web Designer / UniqueDesign</div>
                          <div class="star-rating">
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                          </div>
                        </div>										
                      </div>
                    </div>
                  </div>								
                </div>
              </div>			
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- footer section -->
    <div class="container-fluid w-100 mt-5">
      <!-- Footer -->
      <footer
              class="text-center text-lg-start text-dark"
              style="background-color: #ECEFF1"
              >
        <!-- Section: Social media -->
        <section
                 class="d-flex justify-content-between p-4 text-white"
                 style="background-color: #21D192"
                 >
          <!-- Left -->
          <div class="me-5">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
    
          <!-- Right -->
          <div>
            <a href="" class="text-white me-4">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
    
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold">Company name</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  Here you can use rows and columns to organize your footer
                  content. Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit.
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Products</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  <a href="#!" class="text-dark">MDBootstrap</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">MDWordPress</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">BrandFlow</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Bootstrap Angular</a>
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Useful links</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  <a href="#!" class="text-dark">Your Account</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Become an Affiliate</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Shipping Rates</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Help</a>
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Contact</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
    
        <!-- Copyright -->
        <div
             class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)"
             >
          © 2020 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/"
             >MDBootstrap.com</a
            >
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
  </div>
    <!-- End of .container -->
</body>

</html>