<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/style.css" />

    <title>AlgoMaster</title>
  </head>
  <body>
    {{>navbar2}}
   

       <div class="row">
       
<div class="col-12">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner mt-3 mx-5 shadow-lg" style="width: auto;"> 
    <div class="carousel-item active" style="height: 400px;">
      
        <div><h2 class="my-4" style="text-align: center; font-size: 150px;">< AlgoMaster ></h2></div>
        
    </div>

    <div class="carousel-item" style="height: 400px;">
     
      <img class="img-fluid" src="https://media.geeksforgeeks.org/wp-content/uploads/20191113114209/CTutorial.png" style="align-content: center;" alt="...">
      
    </div>
    <div class="carousel-item" style="height: 400px">
             <div class="row">
        <div class="col">
      <img src="https://cdn.codechef.com/sites/all/themes/abessive/cc-logo.png" style="align-content: center;" alt="..."></div>
      <div class="col">
      <ul class="mr-3">
        <li><h2>Read Editorial</h2></li>
        <li><h2>Submit There</h2></li>
        <li><h2>Get Accepted</h2></li>
      </ul>
      </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
      <div class="col-md-7 col-12 p-5">
        <!--  -->
        <!--  -->
        <div class="content my-5">
          <div class="head my-1">
            <a
              class="font-weight-bold"
              href="/vector"
              style="
                color: black;
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
              "
            >Vector in C++</a>
          </div>
          <div class="text" style="color: #989898">
            In this tutorial, we will learn about vectors in C++ with the help of examples.
            In C++, vectors are used to store elements of similar ...
            <span class="read-more">
              <a style="color: #087f5b" href="/vector">Read More</a>
            </span>
          </div>
        </div>

        <!--  -->
        <hr class="style15" />
        <!--  -->

        <div class="content my-5">
          <div class="head my-1">
            <a
              class="font-weight-bold"
              href="/binary_search"
              style="
                color: black;
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
              "
            >Binary Search Algorithm</a>
          </div>
          <div class="text" style="color: #989898">
            Binary Search is a searching algorithm for finding an element's position in a sorted array.
            In this approach, the element is...
            <span class="read-more">
              <a style="color: #087f5b" href="/binary_search">Read More</a>
            </span>
          </div>
        </div>

        <!--  -->
        <hr class="style15" />
        <!--  -->
        <div class="content my-5">
          <div class="head my-1">
            <a
              class="font-weight-bold"
              href="#"
              style="
                color: black;
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
              "
            >How to setup sublime Text for competitive programming?</a>
          </div>
          <div class="text" style="color: #989898">
            Sublime Text is a text editor for coding. It has a smooth user interface and other exciting features. During the live contest...
            <span class="read-more">
              <a style="color: #087f5b" href="#">Read More</a>
            </span>
          </div>
        </div>

        <!--  -->
        <hr class="style15" />
        <!--  -->

        <div class="content my-5">
          <div class="head my-1">
            <a
              class="font-weight-bold"
              href="#"
              style="
                color: black;
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
              "
            >Which language is best for competitive programming?</a>
          </div>
          <div class="text" style="color: #989898">
            To get better in competitve programming you need to first clear your
            basics i.e you need to know basic algorithms like...
            <span class="read-more">
              <a style="color: #087f5b" href="#">Read More</a>
            </span>
          </div>
        </div>

        <!--  -->
        <hr class="style15" />
        <!--  -->

        <!--  -->
      </div>
      <!--                                            -->

      <div class="col-md-5 col-12 p-5 my-5">
        <div class="mx-md-5">
          <h4
            style="
              font-family: 'Space Grotesk', sans-serif;
              text-align: left;
              color: #087f5b;
            "
          >
            Featured Articles
          </h4>
          <div class="my-5">
            <h4 style="color: #989898; text-align: left; float: left">
              01 &nbsp;
            </h4>
            <a
              class="font-weight-bold"
              href="#"
              style="
                color: black;
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
                text-align: center;
                float: center;
              "
            >
              STL in C++</a>
          </div>

          <div class="my-5">
            <h4 style="color: #989898; text-align: left; float: left">
              02 &nbsp;
            </h4>
            <a
              class="font-weight-bold"
              href="#"
              style="
                color: black;
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
                text-align: center;
                float: center;
              "
            >
              Sorting Techniques</a>
          </div>
          <div class="my-5">
            <h4 style="color: #989898; text-align: left; float: left">
              03 &nbsp;
            </h4>
            <a
              class="font-weight-bold"
              href="#"
              style="
                color: black;
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
                text-align: center;
                float: center;
              "
            >
              Difference between set and multiset</a>
          </div>
          <div class="my-5">
            <h4 style="color: #989898; text-align: left; float: left">
              04 &nbsp;
            </h4>
            <a
              class="font-weight-bold"
              href="/editorial"
              style="
                color: black;
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
                text-align: center;
                float: center;
              "
            >
              Fast I/O for competitive programming</a>
          </div>
        </div>
        <div class="mx-md-5">
          <h4
            style="
              font-family: 'Space Grotesk', sans-serif;
              text-align: left;
              color: #087f5b;
            "
          >
            Recent Contest Editorials
          </h4>
          <div class="my-5">
            <h4 style="color: #989898; text-align: left; float: left">
              -> &nbsp;
            </h4>
            <a
              class="font-weight-bold"
              href="/editorial"
              style="
                color: black;
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
                text-align: center;
                float: center;
              "
            >
              Codeforces Div2 Educational #732</a>
          </div>
          <div class="my-5">
            <h4 style="color: #989898; text-align: left; float: left">
              -> &nbsp;
            </h4>
            <a
              class="font-weight-bold"
              href="/editorial"
              style="
                color: black;
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
                text-align: center;
                float: center;
              "
            >
              Codeforces Div1 + Div2 CodeTon #210</a>
          </div>
          <div class="my-5">
            <h4 style="color: #989898; text-align: left; float: left">
              -> &nbsp;
            </h4>
            <a
              class="font-weight-bold"
              href="/editorial"
              style="
                color: black;
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
                text-align: center;
                float: center;
              "
            >
              Codechef April's Cook-Off</a>
          </div>
        </div>
      </div>

      <!--                                          -->
    </div>
    
     
{{>footer}}


  </body>
</html>